.heading {
  font-family: cursive;
  font-size: 50px;
  text-align: center;
  text-decoration: underline;
}

.block {
  padding: 16px;
  border: 3px solid aliceblue;
}

.setup {
  font-family: cursive;
}

.punchline {
  font-family: fantasy;
  font-weight: 520;
}

.card {
  background-color: blanchedalmond;
}
